@use "sass:color";

$colors: (
    primary: #ed4c30,
    secondary: #818181,
    third: #092330,
    fourth: #ffffff,
    five: #b81918,
    six: #f5f5f5,
    seven: #8181814b,
);

:root {
    @each $name, $color in $colors {
        --#{$name}: #{$color};
        --#{$name}-darken-5: #{color.adjust($color, $lightness: -5%)};
        --#{$name}-darken-8: #{color.adjust($color, $lightness: -8%)};
        --#{$name}-darken-10: #{color.adjust($color, $lightness: -10%)};
        --#{$name}-darken-13: #{color.adjust($color, $lightness: -13%)};
        --#{$name}-darken-20: #{color.adjust($color, $lightness: -20%)};
        --#{$name}-darken-30: #{color.adjust($color, $lightness: -30%)};
        --#{$name}-darken-40: #{color.adjust($color, $lightness: -40%)};
        --#{$name}-darken-50: #{color.adjust($color, $lightness: -50%)};
        --#{$name}-darken-60: #{color.adjust($color, $lightness: -60%)};
        --#{$name}-darken-70: #{color.adjust($color, $lightness: -70%)};
        --#{$name}-darken-80: #{color.adjust($color, $lightness: -80%)};
        --#{$name}-lighten-2: #{color.adjust($color, $lightness: 2%)};
        --#{$name}-lighten-5: #{color.adjust($color, $lightness: 5%)};
        --#{$name}-lighten-10: #{color.adjust($color, $lightness: 10%)};
        --#{$name}-lighten-20: #{color.adjust($color, $lightness: 20%)};
        --#{$name}-lighten-30: #{color.adjust($color, $lightness: 30%)};
        --#{$name}-lighten-40: #{color.adjust($color, $lightness: 40%)};
        --#{$name}-lighten-42: #{color.adjust($color, $lightness: 42%)};
        --#{$name}-lighten-45: #{color.adjust($color, $lightness: 45%)};
        --#{$name}-lighten-50: #{color.adjust($color, $lightness: 50%)};
    }
}

// Акцентные цвета (монохромные)
$color-accent: var(--primary);
$color-accent-hover: var(--primary-darken-10);
$color-accent-light: var(--fourth);
$color-accent-dark: var(--third);

$colorBackgroundMain: var(--secondary-lighten-42);

// Градиенты
$gradient-dark: linear-gradient(135deg, #000000 0%, #262626 100%);
$gradient-light: linear-gradient(135deg, #ffffff 0%, #f5f5f5 100%);
$gradient-accent: linear-gradient(135deg, #000000 0%, #333333 100%);

// Colors
:root {
    --layoutBackground: var(--fourth);
    --layoutBackgroundLight: var(--fourth);
    --elementBackground: var(--fourth);

    --headerBackgroundLight: var(--fourth);

    --colorLink: var(--seven);

    --color-social: var(--secondary);
    --color-social-hover: var(--third);

    --colorBackgroundMain: #{$colorBackgroundMain};
}